body{
  font-family: Arial, sans-serif;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(113, 0, 128);
}

.container{
  text-align: center;
  background: rgba(255,255,255,0.15);
  padding: 40px 30px;
  border-radius: 18px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
  color: white;
  max-width: 450px;
  width: 90%;
}

.container h1{
  font-size: 80px;
  font-weight: bold;
}

.container h2{
  margin-top: 10px;
  font-size: 28px;
}

.container p{
  margin-top: 15px;
  font-size: 16px;
  opacity: 0.9;
}

.btn{
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover{
  background: silver;
  color: white;
  transform: scale(1.05);
}
@media (max-width: 650px){
      .container{
        font-size: 10px;
      }
}
  