*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

header,footer{
    text-align: center;
    font-family: sans-serif ;
}
 body{
    background-color: #050b4b;
    text-align: center;
   
 }
 main{
    background-color: #070a39;
    border: 1px solid gray;
    display: inline-block;
    padding: 20px 40px ;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5)
    
 }


button {
  border: none;
  background: none;
  padding: 0;
  margin-top: 15px;
}


button a {
  display: inline-block;
  padding: 12px 25px;
  background: #ff9a00;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


button a:hover {
  background: #ff2d55;
  transform: scale(1.05);
}


button a:active {
  transform: scale(0.95);
}
@media (max-width: 650px){
      header,footer{
        font-size: 2rem;
      }
}
  