body{
  min-height: 100%;
  background:linear-gradient(120deg ,blue , blueviolet ,red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container{
  width: 100%;
  max-width: 850 px;
}

header{
  text-align: center;
  color:white;
  margin-bottom: 40px;
  
}


  header h1{
  font-size: 42px;
  font-weight: 700;
}




.card{
   background: blueviolet;
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 22px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.card h2 {
  font-size:large;
  margin-bottom: 10px;
}

.card p{
  font-size: large;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group{
   display: flex;
  flex-direction: column;
  gap: 6px;
}

label{
  font-weight: 600;
  font-size: medium;
}

input,
textarea{
    width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: medium;
  background-color: aliceblue;
}
 button{
  background: lightblue;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size:medium;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
 }

@media (max-width: 600px) {
  .header h1 {
    font-size: large;
  }

  .card {
    padding: 16px;
  }

  button {
    font-size: medium;
    padding: 10px;
  }
}